.container {
    background-color: rgb(238, 255, 0);
    font-size: 40px;
    border: solid rgb(69, 28, 251) 5px;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    
}
.link {
    padding-left: 20px;
}